/* .App {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 1fr 7fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-areas: 
  'Header Header Header Header' 
  'Navbar Navbar Navbar Navbar'
  'Content Content Content Sidebar'
  'Footer Footer Footer Footer';
}
 */
